<html>
<body>

<form action = "/user/newpartie" method="POST">
<label> Nom Partie  </label>
<input type="text" id="nom" name="nom" />
<label> joueur 1  </label>
<input type="text" id="joueur_1" name="joueur_1" />
<label> joueur 2  </label>
<input type="text" id="joueur_2" name="joueur_2" />


<button type="submit"> Envoyer </button> 

</form>

</body>
</html>